{{#partial "content"}}
   <section id = "top-section">
   <h5><span class ="header">WILDLIFE TRACKER</span></h5>
   </section>

   <section id = "content">
        <h1 class = "heading">WILDLIFE TRACKER: CONSERVE NATURE'S HERITAGE</h1>
        <hr>
        <p>Welcome to utamaduni where our key goal is to preserve the nature and heritage of our country</p>
        <p>We believe one of the ways to appreciate nature and its beauty is to conserve it.</p>
        <p>This will enable future generations to be able to enjoy it too.One of the ways to do this is keeping track of wildlife movement and their state.</p>
        <p>Reporting a sighting helps in data analysis and protection of wildlife. <br><br><a class= 'btn' href="/animal_form">Report Sighting</a><br>
   </section>
   <footer>
      <p>TechInc 2021</p>
   </footer>

{{/partial}}
     {{> layout.hbs}}