{{#partial "content"}}
   <section id = "top-section">
   <h5><span class ="header">WILDLIFE TRACKER</span></h5>
   </section>

   <section id = "content">
        <h1 class = "heading">WILDLIFE TRACKER: CONSERVE NATURE'S HERITAGE</h1>
        <hr>
        <p>Hey there elite earthian, welcome to darkwell the secret portal to create the world's most famous superheroes</p>
        <p>Here you can create heroes and assign them various awesome specs to make them fight and defeat the most ruthless of villains.</p>
        <p>What's more? You can create the squads and their causes to assign to the heroes you created</p>
        <p>Want to create your first hero? <br><br><a class= 'btn' href="/animal_form">Report Sighting</a><br>
   </section>
   <footer>
      <p>TechInc 2021</p>
   </footer>

{{/partial}}
     {{> layout.hbs}}