{{#partial "title"}}
    Success animal has been recorded
{{/partial}}

{{#partial "content"}}
{{!--     {{#if seenAnimal}} --}}
{{!--     {{#each seenAnimal}} --}}
        <p>Animal spotted:{{ name }}</p>
        <p>Location: {{ location }}</p>
        <p>Ranger Name: {{ rangerName }}</p>
{{!--         <p>Animal id:{{ seenAnimal.name }}</p> --}}


{{!--     {{/each}} --}}

{{!--     {{#else}} --}}
        <p>Please fill in the form regarding animal spotted</p>
        <a class= 'btn' href="/animal_form">Report Sighting</a>
{{!--     {{/if}} --}}


{{/partial}}

{{>layout.hbs}}